{% for comment_ in comment %}
   <div class="card">
        <div class="card-body">
            <p><strong>Пользователь: {{comment_.user_field}} {{comment_.created_date}}</strong></p>
            <p>{{comment_}}</p>
        </div>
   </div>

{% endfor %}

<form method="POST" action = "{% url 'comment:comments-add' %}">
    {% csrf_token %}
    <label><b>Добавить комментарий:</b></label>
    <input type="text" name="comment" class="form-control" id="comment" >
    <input type="hidden" name="cont_t" class="form-control" id="cont_t" value="{{cont_t}}">
    <input type="hidden" name="obj_id" class="form-control" id="obj_id" value="{{obj_id}}">
    <input type="hidden" name="next" class="form-control" id="next" value="{{next}}">
</form>