{% extends 'BASE.html' %}
{% load cart_icon %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container">


<h1>{{ object.product.name }}</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="hidden" name="next" value="{{next}}">
    <button type="submit" class="btn btn-success btn-block">Добавить в корзину</button>
</form>
</div>
{% endblock body %}