{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}


<div style="margin: 25px; width: 450px;">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock %}