{% extends 'BASE.html' %}
{% load cart_icon %}
{% block head_ %}
<style>
    div.cart_icon {
    color:white;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }
    div.block_goods{
    padding:50px;
    }
</style>
{% endblock %}
{% block header %}
    {{ title_ }}

{% endblock %}
{% block header2 %}
<div class="cart_icon" >{% top_cart_icon %}</div>

{% endblock %}

{% block body %}

<div style="container" class="block_goods">
    <h3>Новинки сезона</h3>
<div class="row" style="padding: 35px;">
        {% for object in new_list %}
    <div class="col-2" style=" padding:10px;">
            <div class="card h-100" style="height: 120px; width: 250px;">
                {% if object.image_f %}
                <div align="center" >
                    <img width="90" src="{{object.image_f.url}}">
                </div>
                {% endif %}
                <div class="card-body h-100 align-bottom">
                      <h5 class="card-title">{{object.name}}</h5>
                      <p>Авторы:</p>
                      {% for author in object.author_f.all %}
                      <li class="card-title">{{author}}</li>
                      {% endfor %}
                      <p class="card-title">Цена: <font color="red">{{object.price}}</font></p>

                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/books/show/{{object.pk}}" >Информация о книге</a></li>
                    </ul>
                    <div class="card-body">
                        <a href={% url "cart:book_add" object.pk %} class="card-link">Добавить в корзину</a>
                    </div>
                </div>
            </div>
    </div>
        {% endfor %}

</div>
</div>

<div style="container" class="block_goods">
    <h3>Top лучших</h3>
<div style="container" class="row">
        {% for object in p_list %}
<div class="row" style="padding: 35px;">
            <div class="card h-100" style="height: 120px; width: 250px;">
                {% if object.image_f %}
                <div align="center" >
                    <img width="90" src="{{object.image_f.url}}">
                </div>
                {% endif %}
                <div class="card-body h-100 align-bottom">
                      <h5 class="card-title">{{object.name}}</h5>
                      <p>Авторы:</p>
                      {% for author in object.author_f.all %}
                      <li class="card-title">{{author}}</li>
                      {% endfor %}
                      <p class="card-title">Цена: <font color="red">{{object.price}}</font></p>

                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/books/show/{{object.pk}}" >Информация о книге</a></li>
                    </ul>
                    <div class="card-body">
                        <a href={% url "cart:book_add" object.pk %} class="card-link">Добавить в корзину</a>
                    </div>
                </div>
            </div>
    </div>
        {% endfor %}

</div>
</div>







{% endblock %}
