{% extends 'BASE.html' %}
{% block header %}
{% load cart_icon %}
Shop Main Page
{% endblock %}
{% block body %}



<ul>
    {% if user.is_superuser %}
        <li><a href="/shop-admin/">Acсess to administrative homepage</a></li>
    {% endif %}
        <li><a href="purchases/">Перейти к странице магазина</a></li>
</ul>


{% endblock %}