{% extends 'BASE.html' %}
{% block header %}
<div>Административная страница</div>


{% endblock %}




{% block body %}

    {% if user.is_superuser %}

<div class="dropdown" style="width: 350px; margin: 15px">
  <div class="accordion" id="blockmenuadminpage">
  <div class="card">
    {% for key, value in dlist.items %}


    <div class="card-header" id="headingOne{{key}}">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne{{key}}" aria-expanded="false" aria-controls="collapseOne{{key}}">
 {{key}}
        </button>
      </h5>
    </div>

      {% for key_, value in value.items %}
{% for key__, value in value.items %}
      <div id="collapseOne{{key}}" class="collapse show" aria-labelledby="headingOne{{key}}" data-parent="#blockmenuadminpage">
        <div class="card-body">
          <a href="{% url value %}">{{key__}}</a>
        </div>
      </div>
      {% endfor %}

            {% endfor %}

    {% endfor %}
  </div>
  </div>
</div>
    {% endif %}


{% endblock %}