{% extends 'BASE.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
<div>
  <form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Изменить пароль">
  </form>
</div>
</div>
{% endblock body %}