{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% block header %}
<div>BookStore</div>
{% endblock %}
{% block body %}

<div class="card text-center">
  <div class="card-header">
    Bookstore
  </div>
  <div class="card-body">
    <h5 class="card-title">Вы вышли из своего профиля пользователя</h5>
    <p class="card-text">Чтобы авторизоваться на сайте нажмите на кнопку ниже</p>
    <a href="{% url 'accounts:log-in-user'%}" class="btn btn-primary">Войти</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
{% endblock body %}
