{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% block header %}

  <div>Авторизация</div>

{% endblock %}

{% block body %}
<div class="container">
<div>
  <form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Войти">
  </form>
</div>
</div>
{% endblock body %}
    