{% extends 'base.html' %}
{% block header %}
Регистрация пользователя
{% endblock %}

{% block body %}
<div class="container">

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Подтвердить регистрацию</button>
  </form>
</div>
{% endblock %}