{% extends 'BASE.html' %}
{% block header_ %}
{% endblock %}

{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}
<H1>Статистика книг</H1>

    <div  style="display: block; margin: 15px;">
    <div class="row" style="margin: 15px;">
                {% for i_stat in statistics %}
            {% for key, value in i_stat.items %}
            <div class="card" style="width: 25rem; padding: 15px;">
              <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">{{key}}:{{value}}</h5>
                  <div class="dropdown-divider"></div>

              </div>
            </div>
                 {% endfor %}
        {% endfor %}
    </div>
    </div>

<div class="dropdown-divider"></div>
<H1>Статистика серий</H1>


 <div  style="display: block; margin: 15px;">
    <div class="row" style="margin: 15px;">
                {% for i_stat in series_ %}
            {% for key, value in i_stat.items %}
            <div class="card" style="width: 25rem; padding: 15px;">
              <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">Серия: "{{key}}"</h5>
                                    <div class="dropdown-divider"></div>
                  <p>Книг в серии: {{value}}</p>


              </div>
            </div>
                 {% endfor %}
        {% endfor %}
    </div>
 </div>

<div class="dropdown-divider"></div>
<H1>Статистика жанров</H1>
 <div  style="display: block; margin: 15px;">
    <div class="row" style="margin: 15px;">
                {% for i_stat in genre_ %}
            {% for key, value in i_stat.items %}
            <div class="card" style="width: 25rem; padding: 15px;">
              <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">Жанр: "{{key}}"</h5>
                  <div class="dropdown-divider"></div>
                  <p>Книг этого жанра: {{value}}</p>

              </div>
            </div>
                 {% endfor %}
        {% endfor %}
    </div>
 </div>


{% endblock %}