{% extends 'BASE.html'%}
{% load static %}
{% block head_ %}
<style>
    div.paginator1 {
    color:white;
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

</style>
{% endblock %}
{% block header %}
    {{ title_ }}
{% endblock %}
{% block body %}

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">email</th>


            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td>{{ object }}</td>
                        <td>{{ object.first_name }}</td>
                        <td>{{ object.last_name }}</td>
                        <td>{{ object.email }}</td>
                        <td>
                            <a href="{% url 'shopadmin:change-user-manager' object.pk %}" class="btn btn-outline-primary"><i class="fas fa-feather-alt"></i></i></a>
                            <a href="{% url 'shopadmin:user-delete' object.pk %}" class="btn btn-outline-danger"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="paginator1">
{% include 'pagination_i.html' %}
</div>

</div>
{% endblock %}