{% extends 'base.html' %}
{% block head %}
Изменение данных пользователя
{% endblock %}

{% block header %}
Изменение данных пользователя
{% endblock %}

{% block body %}
<div class="container">
  <form method="post" enctype="multipart/form-data" action = "{% url 'shopadmin:change-user-data' %}">
      {% csrf_token %}
    <div class="form-group col-md-6">
      <label for="avatar1" >Аватар:</label>
      <input type="file" id="avatar1" name="avatar" value="{{avatar}}">
    </div>

      <div class="row">
    <div class="col">
                <label>Логин:</label>
                <input type="text" name="username" class="form-control" value="{{username}}" placeholder="Логин">
    </div>
    <div class="col">
                <label>Имя:</label>
                <input type="text" name="first_name" class="form-control" value="{{first_name}}" placeholder="Имя">
    </div>
           <div class="col">
               <label>Фамилия:</label>
               <input type="text" name="last_name" class="form-control"  value="{{last_name}}" placeholder="Фамилия">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label  for="email1">E-mail:</label>
      <input type="text" id="email1" name="email" class="form-control" value="{{email}}">
    </div>
    <div class="form-group col-md-6">
      <label>Телефон:</label>
      <input type="number" class="form-control" name="phone_number" value="{{phone_number}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label>Страна:</label>
      <input type="text" name="country_address" class="form-control"  id="country_address" value="{{country_address}}">
    </div>
    <div class="form-group col-md-5">
      <label>Город:</label>
      <input type="text" name="city_address" class="form-control" id="city_address" value="{{city_address}}">
    </div>
      <div class="form-group col-md-2">
      <label>Индекс:</label>
      <input type="text" name="index_address" class="form-control" value="{{index_address}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Адрес 1:</label>
      <input type="text" name="adress1_address" class="form-control" id="adress1_address" value="{{adress1_address}}">
    </div>
    <div class="form-group col-md-6">
      <label>Адрес 2:</label>
      <input type="text" name="adress2_address" class="form-control" id="adress2_address" value="{{adress2_address}}">
    </div>
  </div>

    <button type="submit" class="btn btn-outline-primary">Подтвердить</button>
  </form>
</div>
{% endblock %}