{% extends 'BASE.html' %}
{% block header_ %}
{% endblock %}

{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}

<div class="container">
<div class="card text-center">
    <div class="card-header">
<h5 class="card-title">Информация о пользователе</h5>
    </div>
  <div class="card-body" align="left">


      <div class="row">
  <div class="col-sm-8">
      <p>Логин: {{ u_inf.username }}</p>
      <p>Имя пользователя: {{ u_inf.first_name }}</p>
      <p>Фамилия: {{ u_inf.last_name }}</p>
      <p>Email: {{ u_inf.email }}</p>
      <p>Группа пользователей: {% for g in u_inf.groups.all %} {{g}} {% endfor %}</p>
      <p>Номер телефона: {{ add_inf.phone_number }}</p>
      <p>Страна: {{ add_inf.country_address }}</p>
      <p>Город: {{ add_inf.city_address }}</p>
      <p>Индекс: {{ add_inf.index_address }}</p>
      <p>Адрес 1: {{ add_inf.adress1_address }}</p>
      <p>Адрес 2: {{ add_inf.adress2_address }}</p>

  </div>


  <div class="col-sm-4">
<img width="150" src="/images/{{ ui }}">
  </div>

</div>

  </div>

  <div class="card-footer text-muted">
<center><a href="/shop-admin/update-profile/" class="btn btn-primary">Изменить профиль</a></center>
  </div>
</div>
    </div>






<div class="container">
<h5>История заказов пользоваеля:</h5>
</div>
{% for key__, value in orders.items %}
  {% for ii in key__ %}
<div class="container">
<div class="card">

  <div class="card-body">
      <h5 class="card-title"><p>{{ii}}</p></h5>
            <p>Статус: {{ii.status}}</p>
      <hr>
      <b>Состав заказа:</b>
        {% for i in value %}
      <p><b>Книга: </b>{{i.book}}
                <b>Автор:</b>
                {% for i_a in i.book.author_f.all %}
                {{i_a}}
                {% endfor %}
            </p>
        {% endfor %}


  </div>
</div>
</div>
{% endfor %}

{% endfor %}

{% endblock %}