{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>{{ title_ }}</title>
<style>
  div.container1 {
  max-width: 8em;
  min-height: 2em;
  margin-left: auto;
  margin-right: 15px;
    }

</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% block head_ %}
        {% endblock %}
</head>

<header>
        {% block header_ %}
        {% endblock %}

<nav class="navbar navbar-dark bg-dark">



        {% if user.is_superuser %}
        {% endif %}
        <a class="navbar-brand" href="/">
            {% block header %}
            {% endblock %}
         </a>

        {% block header2 %}
        {% endblock %}
<div class="container1" align="right">{% include 'button_user.html'%}</div>


    <form class="form-inline my-2 my-lg-0" method="GET"  action="{% url 'makesearch' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
    </form>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

        <div class="row" style="margin: 5px;" >

            {% for key, value in dlist.items %}
            <li class="nav-item dropdown" style="padding: 15px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{key}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for key_, value in value.items %}
                {% for key__, value in value.items %}
            <a class="dropdown-item" href="{% url value %}">{{key__}}</a>
                {% endfor %}
                {% endfor %}
        </div>
      </li>
    {% endfor %}

        </div>

    </ul>

  </div>


</nav>

</header>

<body>
{% block body %}


{% endblock body %}

</body>
</html>