<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if user.is_authenticated %}
      {{ user}}
    {% else %}
    Аноним
    {% endif %}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    {% if user.is_authenticated %}
      <a class="dropdown-item" href="{% url 'accounts:log-out-user'%}">Выйти</a>
      <a class="dropdown-item" href="{% url 'shopadmin:change-password'%}">Изменить пароль</a>
      <a class="dropdown-item" href="{% url 'shopadmin:user-information'%}">Данные пользователя</a>
    {% else %}
      <a class="dropdown-item" href="{% url 'accounts:log-in-user'%}">Войти</a>
      <a class="dropdown-item" href="{% url 'shopadmin:reset-password'%}">Восстановить пароль</a>
      <a class="dropdown-item" href="{% url 'shopadmin:registration'%}">Регистрация</a>
    {% endif %}
  </div>
</div>