{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% load comments_tag %}
{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}



<div class="container" style="width: 770px;">
<br>
    <div class="card">
    <div class="card-header">
                        {% if object.image_f %}
                <div align="center" >
                    <img width="150" src="{{object.image_f.url}}">
                </div>
                {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
                                {% for author in object.author_f.all %}
                      <li class="card-title">{{author}}</li>
                        {% endfor %}


        <p>Серия: {% for series in object.seriesOfbook.all %}
                      <li class="card-title">{{series}}</li>
                        {% endfor %}</p>
        <p>Жанр: {% for gen in object.genre.all %}
                      <li class="card-title">{{gen}}</li>
                        {% endfor %}</p>

        <p>Год издания: {{object.year_p}}</p>
        <p>Количество страниц: {{object.nompages}}</p>
        <p>Переплет: {{object.binding}}</p>
        <p>Формат: {{object.formatofbook}}</p>
        <p>ISBN: {{object.ISBN}}</p>
        <p>Вес: {{object.weight}}</p>
        <p>Возрастное ограничение: {{object.age_rest}}</p>
        <p>Издательство: {{object.publisher}}</p>
        <p>Производитель: {{object.producer}}</p>
        <p>Книг в наличии: {{object.stockofbooks}}</p>
        <p>Доступно для заказа: {{object.act_on_off}}</p>
        <p>Рейтинг: {{object.rate_b}}</p>
        <p>Дата добавления: {{object.date_add}}</p>
        <p>Дата изменения: {{object.date_change}}</p>
        {% if user.is_superuser %}
        <center><a href="{% url 'products:list_of_books' %}" class="btn btn-primary">Назад в справочники</a>
        <a href="/books/{{ object.pk }}" class="btn btn-primary">Изменить</a>
        </center>
        {% else %}
        <center><a href="{% url 'shopuser:book_purchases' %}" class="btn btn-primary">Назад к каталогу</a>
        </center>
        {% endif %}

    </div>
    </div>
</div>
<div align="center">
    <div style="margin: 25px; width: 700px;">
{% comment_tag object request.get_full_path %}
</div>

</div>
{% endblock %}