{% extends 'BASE.html' %}


{% block head_ %}
<style>
    div.paginator1 {
justify-content: center;
  height: 3em;
  display: flex;
  align-items: center;
    }

</style>
{% endblock %}

{% block header %}
    {{ title_ }}

{% endblock %}

{% block body %}
    <div  style="display: block; margin: 15px;">
    <div class="row" style="margin: 15px;">
        {% for object in object_list %}
            <div class="card" style="width: 25rem; padding: 15px;">
              <!--<img class="card-img-top" src="{{object.image_f}}" alt="Card image cap">-->
              <div class="card-body">
                  <h5 class="card-title">{{object.name}}</h5>

                  <div class="dropdown-divider"></div>
                          <div class="column" >
                              <a href="{{temp}}{{object.pk}}" class="btn btn-outline-primary">Перейти к редактированию</a>
                              <a href="{{dir_address}}/{{object.pk}}" class="btn btn-outline-danger"> Удалить</a>
                          </div>
              </div>
            </div>
        {% endfor %}
    </div>
    </div>
<div class="paginator1">
{% include 'pagination_i.html' %}
</div>
{% endblock %}
