{% extends 'BASE.html' %}
{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}


    <form method="post">
        {% csrf_token %}
        <div style="margin: 50px">Вы уверены, что хотите удалить "{{ object }}" ?
    <input type="submit" value="Удалить" /></div>
    </form>


{% endblock %}
