{% extends 'BASE.html' %}
{% load crispy_forms_tags %}

{% block header %}
<div>Восстановление пароля</div>


{% endblock %}
{% block body %}
<div class="container">
  {% if validlink %}
    <h3>Изменение пароля</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Изменить пароль</button>
    </form>
  {% else %}
    <p>
      Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась.
      Пожалуйста, <a href="{% url 'shopadmin:reset-password' %}">запросите новый пароль</a>  для сброса.
    </p>
  {% endif %}
</div>
{% endblock body %}