{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% block header %}
<div>Восстановление пароля</div>


{% endblock %}
{% block body %}
<div class="container">
  <p>
    Ваш пароль был изменен. Теперь вы можете <a href="{% url 'accounts:log-in-user' %}">войти</a> в свою учетную запись.
  </p>
</div>
{% endblock body %}