{% extends 'BASE.html' %}
{% load crispy_forms_tags %}

{% block header %}
<div>Восстановление пароля</div>


{% endblock %}

{% block body %}
<div class="container">
<div>
  <h3>Забыли пароль?</h3>
  <p>Для восстановления введите адрес почты, указанный при регистрации.</p>
  <form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Изменить пароль">
  </form>
</div>
</div>
{% endblock body %}
