{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% block header %}
<div>Восстановление пароля</div>


{% endblock %}
{% block body %}
<div class="container">
<div>
  <hr>
  <p>
    Мы отправили вам инструкции по изменению пароля по электронной почте. Вы должны получить их в ближайшее время.
  </p>
</div>
</div>
{% endblock body %}