{% extends 'BASE.html' %}
{% load crispy_forms_tags %}
{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}


<div class="container">

    {% for res in results %}
   <div class="card">
  <div class="card-body">
      <p>Книга: <a href="/books/show/{{res.pk}}/">{{res}}</a></p>
      <p>Автор:

                        {% for author in res.author_f.all %}
                      {{author}}
                        {% endfor %}
     </p>
      <p>Год издания: {{res.year_p}}</p>
  </div>
</div>


    {% endfor %}

</div>
{% endblock %}