{% extends 'BASE.html'%}
{% load static %}

{% block header %}
    {{ title_ }}
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ object }} успешно оформлен!</h1>
    <p>В ближайшее время с Вами свяжется нам менеджер для уточнения деталей!</p>
    <h2>Спасибо, что выбрали наш магазин!</h2>

</div>
{% endblock %}