{% extends 'BASE.html'%}
{% load static %}
{% block head_ %}
<style>
    div.paginator1 {
    color:white;
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

</style>
{% endblock %}
{% block header %}
    {{ title_ }}
{% endblock %}
{% block body %}

<div class="container">
    <div class="alert alert-success" role="alert">
      <p>Заказов всего: {{ count_orders }} шт./Товаров принятых в работу: {{ count_in_process }}</p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Заказ</th>
            <th scope="col">Статус</th>
            <th scope="col">Клиент</th>
            <th scope="col">Телефон</th>
            <th scope="col">email</th>
            <th scope="col">..</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td>{{ object }}</td>
                        <td>{{ object.status.name }}</td>
                        <td>{{ object.cart.user.username }}</td>
                        <td>{{ object.phone }}</td>
                        <td>{{ object.email }}</td>
                        <td>
                            <a href="{% url 'orders:orders-list-change' object.pk %}" class="btn btn-outline-primary"><i class="fas fa-feather-alt"></i></i></a>
                            <a href="{% url 'orders:orders-list-delete' object.pk %}" class="btn btn-outline-danger"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="paginator1">
{% include 'pagination_i.html' %}
</div>

</div>
{% endblock %}